.search_detail .allresults {
  background: #F5F6F8;
  padding: 20px 10px;
  color: #00a0dd;
  font-size: 16px;
  width: 100px;
  border: 1px solid #ccc;
}

@media screen and (max-width: 767px) {
  .search_detail .allresults {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
  }
}

.search_detail .allresults:hover, .search_detail .allresults:focus {
  text-decoration: none;
  background: #00a0dd;
  color: #fff;
}

.search_detail .thumbs {
  border: 1px solid #000;
  padding: 10px 10px 5px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .search_detail .thumbs {
    padding: 6px 0px 5px;
  }
}

.search_detail .thumbs img {
  width: 100%;
}

.search_detail .thumbs .price {
  font-size: 14px;
}

.search_detail .thumbs .price span:first-child {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .search_detail .thumbs .price {
    font-size: 12px;
  }
}

.search_detail .cargallery {
  border: 2px solid #000;
}

.search_detail .cargallery .carsbig {
  border: 2px solid #000;
}

.search_detail .cargallery .carssmall a {
  border: 1px solid #000;
}

.search_detail .detail_right {
  padding-left: 30px;
}

@media screen and (max-width: 991px) {
  .search_detail .detail_right {
    padding-left: 0px;
    margin-top: 20px;
  }
}

.search_detail .detail_right .greatdeal {
  background: #F5F6F8;
  border: 1px solid #ccc;
  padding: 10px;
}

.search_detail .detail_right .greatdeal .ratings a {
  display: inline-block;
}

.search_detail .detail_right .greatdeal .ratings .fill {
  color: #2ab94f;
}

.search_detail .detail_right .greatdeal .ratings .empty {
  color: #666;
}

.search_detail .detail_right .contact_dealer {
  background: #F5F6F8;
  border: 1px solid #ccc;
  padding: 10px;
}

.search_detail .detail_right .contact_dealer .para_form {
  margin-top: 30px;
  line-height: 30px;
}

.search_detail .detail_right .contact_dealer .para_form .form-control {
  display: inline-block;
  width: 180px;
  height: 35px;
  margin-bottom: 10px;
}

.search_detail .detail_right .disclaimer {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 12px;
}

.search_detail .vehicle .icon {
  max-width: 50px;
  text-align: center;
}

.search_detail .vehicle .para1 {
  margin-bottom: 20px;
}

.search_detail .detailright2 {
  padding-left: 40px;
}

@media screen and (max-width: 767px) {
  .search_detail .detailright2 {
    padding-left: 0px;
  }
}

.search_detail .detailright2 .sellerinfo {
  margin-top: 20px;
}

.search_detail .detailright2 .sellerinfo a {
  color: #00a0dd;
}

.search_detail .detailright2 .sellerinfo a:hover {
  text-decoration: none;
}

.search_detail .detailright2 .dealer_desc {
  margin-top: 20px;
}

.search_detail .detailright2 .dealer_desc .para1 {
  background: #F5F6F8;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
}

.slick-prev, .slick-next {
  z-index: 99;
}

.slick-prev:before, .slick-next:before {
  color: #00a0dd;
  font-size: 24px;
}

@media screen and (max-width: 1199px) {
  .allcars {
    width: 90%;
    margin: 0px auto;
  }
}

@media screen and (max-width: 991px) {
  .cargallery {
    width: 90%;
    margin: 0px auto;
  }
}

table td {
  font-size: 13px;
}
/*# sourceMappingURL=search-detail.css.map */