@import 'partials/variables';
@import 'partials/mixins';

.about_wrap{
    .aboutgrid{
        margin: 30px 0px 0px;
        p{
            margin: 10px 0px 0px 0px;
        }
        .readmore{
            margin: 0px 0px 10px 0px;
            a{
                color: $green;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    .whatwedo{
        margin-top: 20px;
        .quotes{
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}

.list-group-item-action:focus {
    color: $white;
    text-decoration: none;
    background-color: $green;
}

.container_shipping{
    .greybox{
        background: $grey2;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        .insidegreybox{
            background: $white;
            padding: 10px;
        }
    }
    .benefits{
        .icon{
            max-width: 120px;
            text-align: center;
        }
    }
    @include max-767{
        .col-md-3.text-right{
            text-align: center !important;
        }
        .btn{
            white-space: normal;
            margin-bottom: 10px;
        }
    }
}
.customertxt{
    span{
        @include absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        padding: 10px;
        display: block;
        @include max-767{
        @include relative;
        color: $black;
        }
    }
   
}
.gurantees.bggrey{
    background: $grey2;
}
.parts{
    text-align: left;
    .numbers{
        color: $green;
        font-size: 50px;
        max-width: 100px;
    }
}
.gurantees{
    @include max-767{
        padding: 0px 10px;
    }
}