@import 'partials/variables';
@import 'partials/mixins';

.everything-know{
    .ek-cards{
        margin-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        @include max-1200{
            padding-left: 30px;
            padding-right: 30px;
        }
        @include max-991{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}