body {
  background: #fff;
  padding-top: 129px;
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 85px;
  }
}

.hideForAnim {
  opacity: 0;
}

.container {
  width: 1200px;
  max-width: 1200px;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 1170px;
    max-width: 1170px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: 970px;
    max-width: 970px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}

.head1 {
  font-size: 2rem;
}

@media screen and (max-width: 1199px) {
  .head1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 767px) {
  .head1 {
    font-size: 20px;
  }
}

.head2 {
  font-size: 1.5rem;
}

@media screen and (max-width: 1199px) {
  .head2 {
    font-size: 1.4rem;
  }
}

.head3 {
  font-size: 1.25rem;
}

@media screen and (max-width: 1199px) {
  .head3 {
    font-size: 1.2rem;
  }
}

.head4 {
  font-size: 1rem;
}

@media screen and (max-width: 1199px) {
  .head4 {
    font-size: 16px;
  }
}

.para1 {
  font-size: 16px;
}

@media screen and (max-width: 1199px) {
  .para1 {
    font-size: 15px;
  }
}

.para2 {
  font-size: 14px;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.green {
  color: #2ab94f;
}

.red {
  color: #D10023;
}

.blue {
  color: #00a0dd;
}

sup {
  font-size: 50%;
}

a, button, input, textarea, select, option {
  outline: 0px;
}

a:focus, button:focus, input:focus, textarea:focus, select:focus, option:focus {
  outline: 0px;
}

.btn-primary {
  color: #fff;
  background-color: #2ab94f;
  border-color: #2ab94f;
}

.btn-primary:focus, .btn-primary:hover {
  background-color: #25a446;
  border-color: #25a446;
  outline: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #25a446;
  border-color: #25a446;
  outline: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #00a0dd;
}

.text-shadow {
  text-shadow: 1px 1px 2px #0a0a0a;
}

.spacerTop {
  padding-top: 30px;
}

@media screen and (max-width: 767px) {
  .spacerTop {
    padding-top: 15px;
  }
}

.spacerBottom {
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .spacerBottom {
    padding-bottom: 15px;
  }
}

.bold {
  font-weight: bold;
}

.medium {
  font-weight: 500;
}

.selectdd {
  position: relative;
  padding: 10px 0px;
}

.selectdd .caret {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto 5px auto auto;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  line-height: 20px;
  text-align: center;
  pointer-events: none;
}

.selectdd select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 38px;
  border: 0px;
  border: 1px solid #aaa;
  padding: 0px 6px;
}

@media screen and (max-width: 1199px) {
  .selectdd select {
    font-size: 12px;
  }
}

.breadcrumb_wrap {
  background: #42d468;
  margin-top: 10px;
}

.breadcrumb_wrap .breadcrumb {
  background: transparent;
}

.breadcrumb_wrap .breadcrumb li a {
  color: #fff;
}

.breadcrumb_wrap .breadcrumb li:before {
  color: #fff;
}

.breadcrumb_wrap .breadcrumb li.active {
  color: #fff;
}

.spacer1 {
  height: 30px;
}

.card-header {
  padding: 0px;
}

.card-header .btn-link {
  display: block;
  width: 100%;
  text-align: left;
  padding: 20px;
  color: #000;
  background: #F5F6F8;
  position: relative;
  white-space: normal;
}

.card-header .btn-link:hover, .card-header .btn-link:focus {
  text-decoration: none;
}

.card-header .btn-link .state {
  position: absolute;
  top: 18px;
  right: 20px;
}

.card-header.opened .btn-link {
  background: #2ab94f;
  color: #fff;
}

.dotspacer {
  height: 30px;
  border-bottom: 1px dotted #ccc;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #2ab94f;
  border-color: #2ab94f;
}

.page-link {
  color: #666;
}

.page-link:hover, .page-link:focus {
  color: #666;
}

.table td, .table th {
  vertical-align: middle;
}

.quickmenu .dropdown-menu {
  padding: 10px;
  background: #fff;
}

.quickmenu .dropdown-menu div {
  font-size: 14px;
  background: #F5F6F8;
  padding: 5px;
}

.navbar .logo-wrap .navbar-brand {
  top: 20px;
}

@media screen and (max-width: 767px) {
  .navbar .logo-wrap .navbar-brand {
    top: 0px;
  }
}

.floatingbox {
  width: 122px;
  height: auto;
  position: fixed;
  top: 200px;
  right: 40px;
  border: 1px solid #ccc;
  z-index: 9999;
  background: #fff;
}

.floatingbox:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;
  width: 100%;
  height: 1px;
  border-top: 5px solid #2ab94f;
}

.floatingbox .links a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #000;
  text-decoration: none;
  font-size: 13px;
}

.floatingbox .links a:last-child {
  border-bottom: 0px;
}

.stepsbox {
  border: 1px solid #ccc;
  padding: 20px;
}

.membershiptable {
  margin-top: 30px;
}

.membershiptable .table .thead-light th {
  color: #495057;
  background-color: #F5F6F8;
  border-color: #dee2e6;
}

.membershiptable .table tbody .title {
  background: #F5F6F8;
}

.membershiptable .table.addColors tbody td.expertBg {
  background: #FFF3F4;
}

.membershiptable .table.addColors tbody td.superBg {
  background: #FCF6D5;
}

.text-strike {
  text-decoration: line-through;
}

.vehiclegrid {
  height: 280px;
  position: relative;
  background: #F5F6F8;
  border: 1px solid #ccc;
  padding: 0px 10px;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
  color: #000;
  cursor: pointer;
}

.vehiclegrid:focus, .vehiclegrid:hover {
  text-decoration: none;
  outline: 0px;
  background: #fff;
  color: #000;
}

.shipbanner {
  width: 100%;
  min-height: 200px;
  background: url("../img/bg_shippingSchedule.png") no-repeat top center;
  background-size: cover;
  padding: 30px 30px;
}

.shipbanner .para1 {
  margin-top: 15px;
}

.shipbanner .para2 {
  color: #ddd;
  margin-top: 20px;
}

.ship_filter {
  background: #F5F6F8;
  border: 1px solid #ccc;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .ship_filter .btn-wrap {
    margin-top: 20px;
  }
}

.switch_shipping .nav-item {
  padding: 0px 10px;
}

.switch_shipping .nav-link {
  border: 1px solid #ccc;
  color: #000;
}

.switch_shipping .nav-link.active {
  border: 1px solid #00a0dd;
  color: #fff;
  background-color: #00a0dd;
}

.photogrids .photobox {
  margin-bottom: 30px;
}

.photogrids .photobox a {
  border: 1px solid #ccc;
  color: #666;
}

.photogrids .photobox a:hover, .photogrids .photobox a:focus {
  text-decoration: none;
}

.photogrids .photobox a .caption {
  padding: 15px;
}

.sidelinks .sllinks li .sidebarsubmenu {
  padding-left: 0px;
  margin-left: 0px;
  background: #F5F6F8;
  border: 1px solid #666;
  border-top: 0px;
}

.sidelinks .sllinks li .sidebarsubmenu li a {
  border: 0px;
  color: #666;
}

.sidelinks .sllinks li .sidebarsubmenu li.active a {
  background: #6bde89;
  color: #fff;
}

.imgpreview {
  margin-top: 20px;
}

.imgpreview .prevfile {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #666;
  text-align: center;
  position: relative;
  max-width: 200px;
  margin: 0px 10px;
}

.imgpreview .prevfile .removefile {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 20px;
  color: #fff;
  background: #666;
  line-height: 23px;
  display: block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
}

.rbform {
  height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}

/* width */
.rbform::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.rbform::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.rbform::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.rbform::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=global.css.map */