@import 'partials/variables';
@import 'partials/mixins';

.popularcars{
    .list-group{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .list-group-item{
        opacity: 0;
        border: 0px;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        @include max-991{
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        @include max-767{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        a{
            text-decoration: none;
            color: $black;
            &:hover,&:focus{
                text-decoration: none;
                color: $black;
            }
        }
        &:hover{
            box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
        }
    }
}