@import 'partials/variables';
@import 'partials/mixins';

.search_detail{
.allresults{
background: $grey2;
padding: 20px 10px;
color: $blue;
font-size: 16px;
width: 100px;
border: 1px solid #ccc;
@include max-767{
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
}
&:hover,&:focus{
    text-decoration: none;
    background: $blue;
    color: $white;
}
}
.thumbs{
    border: 1px solid #000;
    padding: 10px 10px 5px;
    width: 100%;
    @include max-767{
        padding: 6px 0px 5px;
    }
    img{
        width: 100%;
    }
    .price{
        span:first-child{
            font-size: 18px;
        }
        font-size: 14px;
        @include max-767{
            font-size: 12px;
        }
    }
}
.cargallery{
    border: 2px solid $black;
    .carsbig{
        border: 2px solid $black;
    }
    .carssmall{
        a{
            border: 1px solid $black;
        }
    }
}
.detail_right{
    padding-left: 30px;
    @include max-991{
        padding-left: 0px;
        margin-top: 20px;
    }
    .greatdeal{
        background: $grey2;
        border: 1px solid #ccc;
        padding: 10px;
        .ratings{
            a{
                display: inline-block;
            }
            .fill{
                color: $green;
            }
            .empty{
                color: $grey;
            }
        }
    }
    .contact_dealer{
        background: $grey2;
        border: 1px solid #ccc;
        padding: 10px;
        .para_form{
            margin-top: 30px;
            line-height: 30px;
            .form-control{
                display: inline-block;
                width: 180px;
                height: 35px;
                margin-bottom: 10px;
            }
        }
    }
    .disclaimer{
        background: $white;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 12px;
    }
}
.vehicle{
   
    .icon{
        max-width: 50px;
        text-align: center;
    }
    .para1{
        margin-bottom: 20px;
    }
}
.detailright2{
   
    padding-left: 40px;
    @include max-767{
        padding-left: 0px;
    }
    .sellerinfo{
        margin-top: 20px;
        a{
            color: $blue;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .dealer_desc{
        margin-top: 20px;
        .para1{
            background: $grey2;
            border: 1px solid #ccc;
            padding: 10px;
            font-size: 14px;
        }
        
    }
}

}
.slick-prev, .slick-next{
 z-index: 99;
}
.slick-prev:before, .slick-next:before{
    color: $blue;
    font-size: 24px;
}
.allcars {
    @include max-1200{
        width: 90%;
        margin: 0px auto;
    }
}
.cargallery{
    @include max-991{
        width: 90%;
        margin: 0px auto;
    }
}

table{
    td{
        font-size: 13px;
    }
}

.partslists{
    li{
        a{
            color: $black;
            &:hover,&:focus{
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
.quantity_btn {
    font-size: 18px;
    font-weight: bold;
    width: 35px;
    height: 38px;
    line-height: 24px;
    text-align: center;
}

.frameVideo{
    width: 100%;
    height: 497px;
    @include max-1200{
        height: 397px;
    }
    @include max-991{
        height: 494px;
    }
    @include max-767{
        height: 220px;
    }
}
.imgs{

    div{
        width: 100%;
        height: 100%;
    }
    .clickdrag{
        color: #fff;
        font-size: 12px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;
        text-align: right;
        z-index: 11111;
        background: #000;
        height: auto;
        padding-right: 10px;
    }
}