@import 'partials/variables';
@import 'partials/mixins';

.testimonial{
.video-holder{
    width: 100%;
}
.users-holder{
    .heading{
        color: #666;
    }
    .blockquote{
        font-size: 24px;
        margin-top: 40px;
        @include max-1200{
            font-size: 20px;
            margin-top: 10px;
        }
        div{
            font-size: 40px;
            color: $blue;
        }
        
    }
}
.carousel-control-next, .carousel-control-prev {
    top: auto;
    bottom: 0;
    opacity: 1;
    width: 30px;
    height: 30px;
    background: $blue;
}
.carousel-control-prev{
    left: 60%;
    @include max-767{
        left: 10%;
    }
}
.carousel-control-next{
    left: 65%;
    @include max-767{
        left: auto;
        right: 10%;
    }
}
.carousel{
    padding-bottom: 40px;
}
}