@mixin max-1280(){
    @media screen and (max-width: 1280px){
        @content;
    }
}
@mixin max-1200(){
    @media screen and (max-width: 1199px){
        @content;
    }
}
@mixin max-991(){
    @media screen and (max-width: 991px){
        @content;
    }
}
@mixin max-767(){
    @media screen and (max-width: 767px){
        @content;
    }
}
@mixin padding-x-none{
    padding-left: 0px;
    padding-right: 0px;
}
@mixin ul-reset{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
@mixin relative{
    position: relative;
}
@mixin absolute{
    position: absolute;
}
@mixin absolute-center($auto){
    @include absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: $auto;
}
@mixin bold{
    font-weight: bold;
}
@mixin spacerTop{
    padding-top: 30px;
    @include max-767{
        padding-top: 15px;
    }
}
@mixin spacerBottom{
    padding-bottom: 30px;
    @include max-767{
        padding-bottom: 15px;
    }
}
@mixin transition($value){
    -webkit-transition: $value;
    -moz-transition: $value;
    transition: $value;
}
@mixin transform($value){
    -webkit-transform: $value;
    -moz-transform: $value;
    transform: $value;
}
@mixin selectbox(){
    .selectdd{
        @include relative;
       padding: 10px 0px;
        .caret{
            @include absolute-center(auto 5px auto auto);
            width: 20px;
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
    text-align: center;
    pointer-events: none;
        }
        select{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100%;
            height: 38px;
            border: 0px;
            border: 1px solid $light-grey;
            padding: 0px 6px;
            @include max-1200(){
                font-size: 12px;
            }
        }
    }
}
@mixin spacer1{
    height: 30px;
}