$white: #fff;
$black: #000;
$grey: #666;
$light_grey: #aaa;
$primary: #051022;
$green: #2ab94f;
$blue: #00a0dd;
$red: #D10023;
$grey2: #F5F6F8;
$grey3: #ddd;
$grey4: #F5F6F6;
$orange: orange;